.testimonials-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-bottom: 3em;
    padding: 0 0.5rem;
   
   
    overflow: scroll !important;
    
    
}

.testimonials-intro h2{
  text-align: center;
    font-size: 1.7rem;

}

.testimonial-divider{
    margin-top: 1em;
    width: 30%;
    height:2px;
    background-color:lightgray;
    border-radius: 25px;
}




.testimonials-card-container {
  width: 100%;
  margin-top: 3rem;
  padding: 0 1rem;


}



.testminonial-card{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 500px;
    min-height: 333px;
    /* text-align: center; */
    background-color:var(--unyvia_navy) ;
    border: 1.5px solid var(--unyvia_navy3);
    border-radius: 15px;

   
    padding: 0.5rem 2rem 2rem 2rem;

    
}

.testimonial-author{
    margin: 1rem 0rem 0rem 0rem;
    font-size: 1rem;
     font-weight: 1000;
}

.testimonial-authore-role{
    margin: 0rem 0rem 0rem 0rem;
    font-weight: 400;
    font-size: 1rem;
    
}

.testimonial-text-box{
  


    margin:0rem 0rem 0rem 0rem;
    width: 100%;

}

.testimonial-text{
   

    font-size: 1rem


}

.testimonial-quote{
   
    font-size: 2.4em;
    align-self: start;
    
   
}


.testimonials-swiper-continuous .swiper-pagination {
  position: relative !important;
  bottom: auto !important;
  margin-top: 30px;
  text-align: center;
}

.testimonials-swiper-continuous .swiper-pagination-bullet {
  background: #ccc;
  opacity: 1;
  width: 0.5rem;
  height: 0.5rem;
  margin: 0 6px;
  transition: all 0.3s ease;
}


.testimonials-swiper-continuous .swiper-pagination-bullet-active {
  background: var(--unyvia_navy);
  transform: scale(1.3);
}







  
  






 
